::-moz-selection {
    background: #4e4f97;
    color: white;
}
::selection {
    background: #4e4f97;
    color: white;
}
::-webkit-scrollbar {
    background: #fafaf7;
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #211e55;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4e4f97;
}
